@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    ---c1 : hsla(0, 6%, 57%, 1);
    ---c2 : rgb(63, 161, 207);
    ---c3 : rgb(0, 132, 255);
    ---c4 : white;
    ---c6 : rgba(0, 132, 255, 0.632);
    ---c7 : rgba(0, 132, 255, 0.867);
    ---c8 : rgb(255, 213, 0);
    ---c9 : rgba(26, 29, 31, 0.747);
    ---c10 : rgba(224, 223, 223, 0.371);
    ---c11 : rgb(15, 11, 63);
    ---c12 : rgb(210, 170, 39);
    ---c13 : rgba(1, 210, 252, 0.742);
    ---c14 : rgba(210, 39, 136, 0.548);
    ---c15 : rgba(255, 196, 0, 0.734);
    ---c16 : rgba(59, 39, 210, 0.756);
    ---c17 : rgba(0, 0, 0, 0.756);


}
body{
    background-color: var(---c10) ;
}
.chang1{
    display: none;
}
.Money1:hover .chang1 {
    display: block;
}
input {
    all: unset;
  }