@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    ---c1 : rgba(0,168,89,255);
    ---c2 : rgba(14,181,145,255);
    ---c3 : rgba(0,168,89,255);
    ---c4 : white;
   


}
input {
    all: unset;
  }