@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    ---c1 : rgba(0,168,89,255);
    ---c2 : rgba(14,181,145,255);
    ---h2 : rgb(51, 204, 115);
    ---c3 : rgba(0,168,89,255);
    ---c4 : #ffffff;
    ---c5 : #5fff59;
    ---h5 : rgba(95, 255, 89, 0.732);
    ---c6 : rgb(0, 0, 0);
    ---c7 : #ff5959;
    ---b7 : #933d3d;
    ---bh7 : #933d3d95;

    ---h7 : rgba(255, 89, 89, 0.759);
    ---c8 : rgb(19, 207, 135);
    ---b8 : rgb(0, 255, 17);
    ---h8 : rgba(0, 255, 17, 0.725);
    ---n1 : rgb(255, 255, 255);
    ---f1 : rgb(72, 114, 228);
    ---c9 : rgba(89, 255, 114, 0.815);
    ---h9 : rgba(89, 255, 114, 0.535);
    ---fo1: rgb(100, 100, 100);
    ---wa: rgb(66, 213, 76);
    ---em: rgb(104, 202, 211);
    ---gh: rgb(0, 0, 0);
    ---ig: rgb(233, 41, 134);
    ---ln: rgb(24, 62, 214);
    ---t1: rgba(255, 255, 255, 0.302);

   


}
input {
    all: unset;
  }
.strocktext{
    -webkit-text-stroke: 0.5px black; 
}
.hidebar::-webkit-scrollbar {
    display: none;
  }
  .typing-container {
    display: inline;
    border-right: 1px solid black; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    
}
  .typing-text {
    display: inline-block;
    
    animation: typing 3s steps(11, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}